<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="large-10 medium-10 large-centered column">
    <div class="form-inputs row">
      <%= f.input :title, wrapper_html: { class: "large-6 medium-6 column" } %>
      <%= f.input :body, wrapper_html: { class: "large-12 medium-12 column" } %>
      <%= f.input :summary, wrapper_html: { class: "large-12 medium-12 column" } %>
    </div>

    <div class="form-actions">
      <%= f.input :published %>
      <%= f.button :submit, class: "radius" %>
    </div>
  </div>
<% end %>
