<% cache [ "post", @post ] do %>
  <div id="post" class="row">

    <div class="large-8 medium-8 large-centered medium-centered column">
      <div>
        <h2 class="title"><%= @post.title %></h2>
        <time><%= @post.created_at.strftime('%A %B %d, %Y - %I:%M%p') %></time>
      </div>
      <div class="body">
        <%= markdown_filter @post.body %>
      </div>
      <%= render 'links' %>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>
      <div id="disqus_thread"></div>
      <%= render 'links' %>
    </div>

  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    var disqus_shortname = 'ignoredbydinosaurs'; // required: replace example with your forum shortname
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% end %>
