  <div id="post" class="row">

    <div class="nine columns centered">
      <div>
        <h2 class="title"><%= @post.title %></h2>
        <time><%= @post.published_at.strftime('%A %B %d, %Y - %I:%M%p') %></time>
      </div>
      <div class="body">
        <%= markdown_filter @post.body %>
        <p><a href="https://twitter.com/JohnnyGrubb" class="small button" id="twitter-link" target="_new">Me on Twitter</a></p>
        <p><% if @post.tags.any? %>Filed under: <%= tags_link %> | <% end %>read count: <%= @count %></p>
      </div>
      <%= render 'links' %>
      <div id="disqus_thread"></div>
      <%= render 'links' %>
    </div>

  </div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post), class: "tiny radius button" %>
<% end %>
<% content_for :scripts do %>
  <script type="text/javascript">
    var disqus_shortname = 'ignoredbydinosaurs'; // required: replace example with your forum shortname
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    
    jQuery(function($) {
        console.log(<%= @post.id %>);
        $.post('/s/view/<%= @post.id %>', 
            {
                title: "<%= @post.title %>",
                url: "<%= post_date_path_helper @post %>"
            });
    });
  </script>
<% end %>
