<div id="portfolio-item">
  <h2 id="title"><%= @portfolio_item.title %></h2>

  <div id="images">
    <ul class="clearing-thumbs" data-clearing>
    <% @images.each do |image| %>
      <li class="th radius">
        <%= link_to image_tag(
                              image.image_url(:medium_landscape), 
                              data: { caption: image.caption || '' }), 
                    image.image_url %>
      </li>
    <% end %>
    </ul>
  </div>

  <div id="body"><%= markdown_filter @portfolio_item.body %></div>
  <div id="sidebar">
    <h3>Details</h3>
    <%= markdown_filter @portfolio_item.sidebar if @portfolio_item.sidebar %>
  </div>


  <% if user_signed_in? %>
    <div class="links large-12 column">
      <%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item), class: "tiny radius button" %>
    </div>
  <% end %>
</div>
