<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ignored By Dinosaurs" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="header">
      <div class="row">
        <h1 class="large-12 column"><%= link_to "Ignored By Dinosaurs", root_path %></h1>
      </div>
    </div>
    <div id="messages" class="row">
      <% flash.each do |key, value| %>
        <div data-alert class="large-8 column radius alert-box <%= key %>">
          <%= value %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>

    <%= yield %>
    <div id="footer">
      <div class="row">

      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
